@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Zen+Kaku+Gothic+New&display=swap');

:root {
    --primary-font-color: white;
    --secundary-font-color: #000ea5;
    --left-right-gradient: linear-gradient(to right, #236FD7, #4C92F1, #7BAFF8);
    --right-left-gradient: linear-gradient(to right, #7BAFF8, #4C92F1, #236FD7);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header {
    width: 100%;
    height: 450px;
    background-image: url(../assets/Header\ House.png), url(../assets/Header\ Backdrop.png);
    background-size: calc(608px * 0.75) calc(494px * 0.75), cover;
    background-repeat: no-repeat;
    background-position: right bottom, left bottom;
    display: flex;
    
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.top-bar {
    width: 100%;
    max-width: 1200px;
    height: 135px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.top-bar a:link, 
.top-bar a:visited, 
.top-bar a:hover, 
.top-bar a:active,
footer a:link, 
footer a:visited, 
footer a:hover, 
footer a:active {
    color: var(--primary-font-color);
    text-decoration: none;
    cursor: pointer;
}

.top-bar a:first-of-type {
    margin: auto 0;
    display: block;
}

.logo {
    width: 275px;
    height: 100px;
    margin: 0;
}

.logo h1 {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

span.left::before {
    position: absolute;
    background-image: url(../assets/House\ Logo.png);
    background-repeat: no-repeat;
    content: "";
    width: 100px;
    height: 100px;
    top: -10px;
    left: 10px;
}

.logo h1 span.left {
    margin: 15px auto 0 40px
}

.logo h1 span.right {
    margin-left: auto;
}

span.right span.small {
    font-size: x-small;
}

#gradient-line {
    width: 100%;
    height: 3px;
    background-image:  
        linear-gradient(to right, white, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 0;
    margin: 0;
}

.blue {
    color: var(--secundary-font-color);
}

.top-bar .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 10px;
    position: relative;
}

.telephone::before {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: -20px;
    background-image: url(../assets/Phone\ Logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}

.social-media-logo {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 8px;
}

.social-media-logo img {
    height: inherit;
}

.slogan {
    margin: auto 0;
    display: flex;
    width: 655px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.slogan h2 {
    color: var(--primary-font-color);
    font-size: 3rem;
    margin: 0 auto;
}

.slogan h3 {
    color: var(--secundary-font-color);
    font-size: 2rem;
    font-style: italic;
    font-weight: bolder;
}

/* styling process section */

#process {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

#process h2 {
    font-size: 3rem;
    width: 100%;
    text-align: center;
}

#process hr {
    width: 100%;
    height: 3px;
    background-color: var(--secundary-font-color);
    border: none;
    margin: 20px 0;
}

#process h3 {
    width: calc((100% - 180px) / 4);
    height: 100px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    text-align: center;
    color: var(--secundary-font-color);
    font-size: 1.5rem;
    margin: auto;
}

/* styling true blue section */
#true-blue {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: white;
    background-image: url("../assets/Section\ 2\ House.png"), var(--left-right-gradient);
    background-repeat: no-repeat;
    background-size: calc(958px * .75) calc(543px * .75), 100%;
    background-position: left bottom, left;
    padding: 40px 0 ;
}

#true-blue h2, #true-blue p {
    width: 600px;
    margin: 0 calc(calc(100% - 1200px) / 2);
    text-align: initial;
}

#true-blue h2 {
    font-size: 3rem;
    text-decoration: underline;
    margin-bottom: 15px;
}

#true-blue p {
    font-size: 2rem;
}

#pitch {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 90px 0 20px;
}

#pitch h2, #pitch p {
    width: 50%;
    color: var(--secundary-font-color);
}

#pitch h2 {
    text-align: right;
    font-size: 4rem;
}

#pitch hr {
    width: 3px;
    height: 200px;
    border: none;
    background-color: var(--secundary-font-color);
    margin: 0 50px;
}

#pitch p {
    text-align: initial;
    font-size: 2.5rem;
}

#contact-link {
    padding: 10px 20px;
    border: 2px solid var(--secundary-font-color);
    border-radius: 20px;
    margin-bottom: 50px;
}

#contact-link:link, 
#contact-link:visited, 
#contact-link:hover, 
#contact-link:active {
    color: var(--secundary-font-color);
    text-decoration: none;
    cursor: pointer;
}

footer {
    width: 100%;
    height: auto;
    padding: 20px calc((100% - 1200px) / 2);
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .info {
    display: flex;
}

#hours, #location, #contact {
    margin-left: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: var(--secundary-font-color);
}

#contact {
    width: 150px;
    align-items: flex-end;
}

#contact h3 {
    margin: 0 auto;
}

#hours hr, #location hr, #contact hr {
    width: 100%;
    height: 2px;
    border: none;
    background-color: var(--secundary-font-color);
    margin: 5px 0;
}

#contact .telephone::before {
    top: 33px;
    left: 5px;
    filter:invert(85%) sepia(98%) saturate(4242%) hue-rotate(237deg) brightness(61%) contrast(129%);
}

footer a.telephone:link, 
footer a.telephone:visited, 
footer a.telephone:hover, 
footer a.telephone:active {
    color: var(--secundary-font-color);
    text-decoration: none;
    cursor: pointer;
}

@media  screen and (max-width: 768px) {

    header {
        height: 600px;
        background-size: 50%, cover;
    }
    
    .top-bar {
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    
    .logo {
        width: 275px;
        height: 100px;
        margin: 25px 0;
    }
    
    #gradient-line {
        background-image:  
            linear-gradient(to right, rgba(255, 255, 255, 0),white 50%, rgba(255, 255, 255, 0));
        margin-top: 25px;
    }
    
    .slogan {
        width: 90%;
        margin: 50px;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .slogan h2 {
        font-size: 2.5rem;
    }
    
    .slogan h3 {
        font-size: 1.5rem;
    }

    #process {
        width: 90%;
        flex-direction: column;
    }
    
    #process h2 {
        font-size: 3rem;
        width: 100%;
        text-align: center;
    }
    
    #process hr {
        width: 100%;
        height: 3px;
        background-color: var(--secundary-font-color);
        border: none;
        margin: 20px 0;
    }
    
    #process h3 {
        width: 50%;
        font-size: 1.5rem;
        margin: 12.5px;
    }

    #true-blue {
        height: 450px;
        justify-content: flex-start;
        align-items: center;
        background-repeat: no-repeat;
        background-size: 100%, 100%;
    }
    
    #true-blue h2, #true-blue p {
        width: 90%;
        margin:0 auto;
        text-align: center;
    }
    
    #true-blue h2 {
        font-size: 1.5rem;
    }
    
    #true-blue p {
        font-size: 1rem;
    }

    #pitch {
        flex-direction: column;
    }
    
    #pitch h2, #pitch p {
        width: 90%;
    }
    
    #pitch h2 {
        text-align: center;
        font-size: 2rem;
    }
    
    #pitch hr {
        width: 90%;
        height: 3px;
        margin: 0;
    }
    
    #pitch p {
        text-align: center;
        font-size: 1rem;
    }
    

    footer {
        height: auto;
        flex-direction: column;
    }

    footer .info {
        display: initial;
    }

    #hours, #location, #contact {
        margin-left: 0;
        margin-top: 25px;
    }

}